*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.baslik {
    float: left;
    width: 100%;
    min-height: 50px;
    background-color: lightskyblue;
}

    .baslik h2 {
        padding: 20px;
        font-family: Georgia;
    }

    

    .baslik .cikis {
        float: left;
        padding-bottom: 20px;
        padding-left: 20px;
    }

        .baslik .cikis a {
            text-decoration: none;
            color: black;
            padding: 5px;
        }

            .baslik .cikis a:hover {
                background-color: deepskyblue;
            }

.tasiyici {
    margin: auto;
    width: 100%;
    background-color: deepskyblue;
}

    .tasiyici .menu {
        float: left;
        list-style: none;
        padding: 20px 30px;
        font-weight: 500;
        color: white;
    }

        .tasiyici .menu ul {
            list-style-type: none;
        }

            .tasiyici .menu ul a {
                text-decoration: none;
            }

                .tasiyici .menu ul a li {
                    padding: 5px 15px;
                    float: left;
                    color: black;
                }

                    .tasiyici .menu ul a li:hover {
                        background-color: lightskyblue
                    }

.img-responsive {
    width: 300px;
    height: 300px;
    float: left;
}

.tasiyici .icerik {
    float: left;
    text-align: center;
    background-color: white;
    height: 510px;
    width: 60%;
}


.footer {
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: deepskyblue;
}
